<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup Profile API</title>
</head>
<body>
<form method="POST" action="/set-up-profile">
    <h3>Setup profile API :</h3>
    <button type="submit">Submit</button>
</form>

</body>
</html>